@media (min-width: 480px) {
  .item:first-child {
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .item:nth-child(2n) {
    grid-column: span 2;
  }
}

@media screen  and (min-width: 768px) {
    h1 {
        padding-top: 45%;
        padding-right: 10%;
    }

    h2 {
        font-size: 3.5em;
    }

.bg-dark.p-4.p-5 {
    display: flex;
}

    .item:first-child {
        grid-area: 1 / 1 / span 2 / span 2;
  }
    .item:nth-child(4) {
        grid-column: 3;
        grid-row: 3;
  }

   span {
       display: inline;
   }

    .unit-text {
    height: 100px;
    width: 520px;
    margin-right: 20px;
}

    .prof-img {
    display: flex;
    height: 5%;
    width: 17%;
    border-radius: 45%;
    bordeR: 2px solid rgb(157, 129, 137, .8)
}
}

@media screen and (min-width: 1024px) {
    h1 {
        padding-top: 40%;
    }

    .item:nth-child(4) {
        grid-column: 1 / span 4;
        grid-row: 3/ span 2;
  }

  .bg-dark.p-4.p-5 {
    display: flex;
}

  h2 {
      font-size: 4em;
  }
  
  h5 {
      font-size: 2em;
  }

  p {
      font-size: 1.5em;
  }

   span {
       display: inline;
   }

    .carousel-inner {
    width: 60%;
    }

    #input-email {
        width: 40%;
    }

    #input-subject {
        width: 40%;
        height: 35px;
    }

    .contact-information {
        font-size: 1.2em;
    }

       .unit-text {
    height: 200px;
    width: 700px;
    margin-right: 20px;
}

    .prof-img {
    display: flex;
    height: 5%;
    width: 17%;
    border-radius: 45%;
    bordeR: 2px solid rgb(157, 129, 137, .8)
}


}