/***UNIVERSAL STYLES**/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Montserrat:ital,wght@0,400;0,800;1,400&display=swap');
/* font-family: 'Arapey', serif;
font-family: 'Montserrat', sans-serif; */


/* COLORS */

/* in HEX
steel teal: #508484
vegas gold: #d6ba73
pink: #ffcad4
languid lavender: #cabac8
mountbatten pink: #9d8189
*/

/* in RGB
steel teal: rgb(80, 132, 132)
vegas gold: rgb(214, 186, 115)
pink: rgb(255, 202, 212)
languid lavender: rgb(202, 186, 200)
mountbatten pink: rgb(157, 129, 137)
*/

body {
    background-color: rgb(80, 132, 132, .2);
}

/*****NAV BAR AND HEADER******/
header {
    background-color: rgb(202, 186, 200);
    background-image: url('/Portfolio/images/background_image2\ copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%; */
    height: 500px;
    font-size: 1em;
}

a {
    color: white;
    font-size: 12px;
}

i {
    font-size: 40px;
}

.bg-dark.p-4.p-5 {
    display: none;
}

.text-white.h5 {
    font-family: 'Arapey', serif;
    font-size: 25px;
    text-align: left;
}

.bg-dark {
    background-color: rgb(157, 129, 137, .5)!important
}

.navbar-dark .navbar-toggler {
    color: rgb(255,255,255,1);
    border-color: rgb(255,255,255,.7);
}

.bg-dark.p-4 {
    display: flex;
    justify-content: space-around;
    font-family: 'Arapey', serif;
}

.text-white.h5 {
    list-style: none;
}

h1 {
    color: white;
    text-shadow: 1px 2px 10px #ffffff;
    font-family: 'Arapey', serif;
    display: flex;
    float: right;
    padding-top: 80%;
    padding-right: 5%;
}


/****** ABOUT ME SECTION ************/

/******image gallery********/

.gallery {
  /* background-color: rgb(80, 132, 132, .4); */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 300px 150px;
  grid-auto-flow: dense;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 2px solid rgb(80, 132, 132, .4);
}

.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/******about me paragraph**********/
.about {
    width: 100%;
    background-color: rgb(202, 186, 200, .8);
}

h2 {
    font-family: 'Arapey', serif;
    text-align: center;
    color: white;
    padding: 10px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
}

p {
    font-family: 'Arapey', serif;
    color: white;
    padding: 20px;

}

span {
    display: none;
}

/*********PROJECTS SECTION*********/

/*****  project title ********/

.projects-section {
    margin-top: 50px;
}

.projects {
    background-color: rgb(157, 129, 137, .8);
    padding: 10px;
}

/****** API call **********/
.projects-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.card-container {
    align-self: center;
    width: 300px;
}

.card-img-top {
    padding: 15px;
}

.card-title {
    font-family: 'Arapey', serif;
    font-size: 1.7em;
    background-color: rgb(157, 129, 137, .5);
    border: 1px solid rgb(157, 129, 137);
    align-self: center;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: .5em;
}

/***********CONTACT ME SECTION************/
.contact {
    background-color: rgb(157, 129, 137, .8);
    padding: 10px;
    margin-top: 5%;
}

.contact-information {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

input {
    margin: 10px;
}

.unit {
    margin: 5px;
}

#input-subject {
    width: 300px;
    flex-grow: .8;
}

.unit-text {
    height: 100px;
    width: 300px;
    margin: 5px;
    flex-grow: 3;
}

.contact-p {
    text-align: center;
}

#input-submit {
    background-color: rgb(202, 186, 200);
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    margin: 5px;
}

.prof-img {
    display: none;
}


/******** FOOTER **********/

.footer {
    height: 40px;
    background-color: rgb(157, 129, 137, .5);
    text-align: center;
    padding-top: 5px;
}