/***UNIVERSAL STYLES**/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Montserrat:ital,wght@0,400;0,800;1,400&display=swap');
/* font-family: 'Arapey', serif;
font-family: 'Montserrat', sans-serif; */


/* COLORS */

/* in HEX
steel teal: #508484
vegas gold: #d6ba73
pink: #ffcad4
languid lavender: #cabac8
mountbatten pink: #9d8189
*/

/* in RGB
steel teal: rgb(80, 132, 132)
vegas gold: rgb(214, 186, 115)
pink: rgb(255, 202, 212)
languid lavender: rgb(202, 186, 200)
mountbatten pink: rgb(157, 129, 137)
*/



/*****NAV BAR AND HEADER******/
header {
    background-color: rgb(202, 186, 200);
    background-image: url('./images/background_image2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    font-size: 1em;
}

.bg-dark.p-4 {
    display: flex;
    justify-content: space-around;
    font-family: 'Arapey', serif;
}

.text-white.h5 {
    list-style: none;
}

h1 {
    color: white;
    font-family: 'Arapey', serif;
    display: flex;
    float: right;
    padding-top: 80%;
    padding-right: 5%;
}


/****** ABOUT ME SECTION ************/

/******image gallery********/
.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 250px 150px;
  grid-auto-flow: dense;
  padding: 10px;
}

.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}